/* .box {
  background-color: salmon;
} */

/* Collapsing margins */
/* article {
  display: flex;
  flex-direction: column;
} */

/* Collapsing parent with child margins */
/* .wrapper {
  outline: 1px solid red;
  margin-top: 100px;
  border: 1px solid red;
}

.box {
  margin: 50px;
}

body {
  font: 1.4em/1.3 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  margin: 2em 3em;
}

.box {
  background-color: rgb(55, 55, 110);
  color: white;
  padding: 20px;
  border-radius: 0.5em;
} */

/* Logical margins */
/* * {
  box-sizing: border-box;
}

body {
  font: 1.4em/1.3 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  margin: 2em 3em;
}

.wrapper {
  border: 5px dotted black;
  inline-size: 300px;
}

.box {
  background-color: rgb(55, 55, 110);
  color: white;
  padding: 20px;
  border-radius: 0.5em;
  margin-block-start: 100px;
  margin-block-end: 10px;
  margin-inline-start: 60px;
  margin-inline-end: 40px;
}

.horizontal-tb {
  writing-mode: horizontal-tb;
}

.vertical-rl {
  writing-mode: vertical-rl;
} */

/* Single direction margins */

html {
  font: 1em/1.5 'Comic Sans MS', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-bottom: 1.5rem;
}
