<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <p><span>span1</span><span>span2</span><span>span3</span></p> -->
    <!-- <article>
      <img
        src="http://source.unsplash.com/5dCC3Rfwje0/150x150"
        alt="A raindbow colored liquid texture"
      />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error sint
        quasi harum aperiam beatae, veritatis praesentium tempora in,
        exercitationem maxime illo, nam incidunt illum enim vitae? Corporis
        facere aut ipsum ratione, dolores quaerat recusandae nemo maiores eius
        hic dicta in fugiat veniam aperiam rerum! Voluptatum dolore deleniti
        velit dolorum nobis, sequi, id quis sit corporis fugit, libero earum
        nesciunt adipisci modi? Laudantium repellendus temporibus possimus optio
        dolore error eius tenetur in sed et voluptatum, quia, doloremque nisi.
        Tempore cum in porro culpa. Quaerat libero excepturi doloribus dicta
        accusamus qui, magni vero voluptates earum fuga ipsam, impedit ea! Iste
        qui accusamus magni delectus nostrum quaerat, unde molestias laboriosam
        illum rerum ut velit eaque sit minima repellendus animi consequuntur
        eligendi cum assumenda ab at alias vitae beatae dolores? Consequatur
        accusantium nihil dolore iste corrupti excepturi, ipsum, aliquid
        veritatis vitae similique earum? Obcaecati iure distinctio ipsa fuga
        itaque error laboriosam earum. Soluta nisi magnam est nesciunt nobis
        deserunt esse in voluptates tempora consectetur sunt repellat, sed
        commodi inventore optio ea, quaerat totam ut sint saepe asperiores.
        Aliquid, adipisci porro. Similique quam aliquam numquam temporibus! Unde
        nemo deleniti inventore voluptatem cupiditate quis nisi, mollitia vero
        magni doloribus praesentium soluta, veniam obcaecati minus assumenda
        reprehenderit!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
        consectetur expedita consequuntur quisquam temporibus perferendis
        ducimus error nihil enim reprehenderit blanditiis tenetur, cumque vitae
        aliquam adipisci similique voluptate deserunt aut provident est. Vel
        vero aut, sint, vitae libero soluta reprehenderit provident alias ea
        enim ex! Nisi magnam qui saepe?
      </p>
    </article> -->

    <!-- float -->

    <!-- <h1>Images Floating in the Document Flow</h1>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
        sequi veniam ea enim nesciunt doloremque delectus sint consectetur qui
        magnam. Recusandae, hic quidem officia, asperiores sit libero sapiente
        totam eum.
      </p>
      <figure class="l left">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/unsplash-daisy.jpg"
          alt="daisy photographed from below"
        />
        <figcaption>Floating Left</figcaption>
      </figure>
      <p>
        Doloribus nisi ratione necessitatibus unde veritatis commodi veniam quas
        eaque fugiat nihil esse, id? Tempora quis quod impedit quia, facere
        incidunt, voluptatum dicta in dolores suscipit temporibus quam eos odit?
      </p>
      <figure class="r right">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/unsplash-mossy-log.jpg"
          alt="mossy log with ferns growing out of it"
        />
        <figcaption>Floating Right</figcaption>
      </figure>
      <p>
        Doloribus nisi ratione necessitatibus unde veritatis commodi veniam quas
        eaque fugiat nihil esse, id? Tempora quis quod impedit quia, facere
        incidunt, voluptatum dicta in dolores suscipit temporibus quam eos odit?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
        sequi veniam ea enim nesciunt doloremque delectus sint consectetur qui
        magnam. Recusandae, hic quidem officia, asperiores sit libero sapiente
        totam eum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
        officiis est, tenetur ut aliquid iste necessitatibus nihil vel harum!
        Temporibus iure reprehenderit ullam, fugit reiciendis delectus vitae
        natus sint, velit.
      </p>
    </article> -->
    <!-- <header>Header</header>
    <aside>Sidebar</aside>
    <main>Main content</main>
    <footer>Footer</footer> -->

    <!-- <div class="parent clearfix">
      <div class="float float-1">Float Left 1</div>
      <div class="float float-2">Float Left 2</div>
      <div class="clearfix"></div>
      <div class="float float-3">Float Left 3</div>
      <div class="float float-4">Float Left 4</div>
    </div> -->

    <!-- Columns -->

    <!-- <h1>All countries</h1>
    <ul class="countries">
      <li>Argentina</li>
      <li>Aland Islands</li>
      <li>Albania</li>
      <li>Algeria</li>
      <li>American Samoa</li>
      <li>Andorra</li>
      …
    </ul> -->

    <!-- Positioning -->
    <!-- <div class="my-element">
      <div class="another-element"></div>
    </div> -->

    <script src="./script.js"></script>
  </body>
</html>
