/* span {
  padding-top: 100px;
  margin-right: 100px;
  width: 100px;
} */
/* img {
  width: 150px;
  height: 150px;
  float: left;
} */
/* 
p {
  clear: right;
} */

/* article {
  display: flow-root;
} */

/* float */
/* * {
  box-sizing: border-box;
} */

/* article {
  width: 65%;
}

.left {
  float: left;
}

.right {
  float: right;
} */

/* body > * {
}

header {
  padding: 20px;
  text-align: center;
  background: salmon;
}

aside {
  width: 30%;
  background-color: aqua;
  float: right;
}

main {
  width: 70%;
  background: green;
  float: left;
}

footer {
  padding: 20px;
  text-align: center;
  background: goldenrod;
  clear: both;
} */

/* .parent {
  border: 1px solid black;
}

.float {
  width: 100px;
  height: 100px;
  float: left;
}

.float-1 {
  background: green;
}
.float-2 {
  background: goldenrod;
}
.float-3 {
  background: yellowgreen;
}
.float-4 {
  background: salmon;
}
.float-4::after {
  content: '';
  display: block;
  clear: both;
}
.clearfix::after {
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
} */

/* Columns */
/* .countries {
  column-count: 4;
  column-gap: 1em;
} */

/* Positioning */
/* .my-element {
  width: 100px;
  height: 100px;
  background: goldenrod;
  position: relative;
  top: 10px;
}

.another-element {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: aqua;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* BFC explanation */
/* .outer {
  border: 5px dotted rgb(214, 129, 137);
  border-radius: 5px;
  width: 450px;
  padding: 10px;
  margin-bottom: 40px;
  overflow: auto;
}

.float {
  padding: 10px;
  border: 5px solid rgba(214, 129, 137, 0.4);
  border-radius: 5px;
  background-color: rgba(233, 78, 119, 0.4);
  color: #fff;
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
} */

/* BFC and margin collapsing */
/* * {
  box-sizing: border-box;
}

.outer {
  outline: 5px dotted rgb(214, 129, 137);
  border-radius: 5px;
  margin-bottom: 0 0 40px 0;
  overflow: auto;
}

p {
  padding: 0;
  margin: 20px 0 20px 0;
  background-color: rgb(233, 78, 119);
  color: #fff;
} */

/* BFC and floated element */
.outer {
  border: 5px dotted rgb(214, 129, 137);
  border-radius: 5px;
  width: 450px;
  padding: 10px;
  margin-bottom: 40px;
  position: relative;
  overflow: auto;
}

.float {
  padding: 10px;
  border: 5px solid rgba(214, 129, 137, 0.4);
  border-radius: 5px;
  background-color: rgba(233, 78, 119, 0.4);
  color: #fff;
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
}

.absolute {
  padding: 10px;
  border: 5px solid rgba(214, 129, 137, 0.4);
  border-radius: 5px;
  background-color: rgba(233, 78, 119, 0.4);
  color: #fff;
  position: absolute;
  width: 200px;
  margin: 0 20px 0 0;
}

.text {
  /* overflow: auto; */
  display: flow-root;
}
